[submodule "references/git-bug"]
	path = references/git-bug
	url = https://github.com/git-bug/git-bug.git
[submodule "references/rust-sdk"]
	path = references/rust-sdk
	url = https://github.com/modelcontextprotocol/rust-sdk.git
